body {
  background-color: var(--color-darkgreen);
}

main {
  padding: 136px 100px;
  display: flex;
  align-items: center;
  place-content: center;
}

#Raiz-do-Bem {
  font-size: 4rem;
  font-family: var(--font-title);
  color: var(--color-white);
  font-weight: 700;
}

.slogan {
  color: var(--color-amber);
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.plataform-about {
  color: var(--color-white);
  font-size: 1.2rem;
  min-width: 410px;
  max-width: 610px;
}

main img {
  width: 850px;
  background-size: cover;
  z-index: -1;
}

/*Sobre a Raiz do Bem*/

#wrapper {
  border-radius: 100px 100px 0 0;
  background-color: var(--color-white);
}

.about-tdb {
  padding: 162px 0;
}

#sobre-turma-do-bem {
  text-align: center;
  font-family: var(--font-title);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 76px;
}

.container-about {
  display: flex;
  border-radius: 8px;
  gap: 57px;
  width: 1240px;
  margin: 0 auto;
  align-items: center;
  background-color: var(--color-cream);
  max-height: 508px;
}

.container-about img {
  object-fit: cover;

  margin-top: 6px;
}

.txt-about {
  font-size: 1.25rem;
  max-width: 521px;
}

.txt-about p:first-child {
  margin-bottom: 20px;
}

.tdb-in-numbers {
  position: relative;
}

.tdb-in-numbers ul {
  margin-top: 70px;
  display: flex;
  gap: 70px;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.tdb-in-numbers span {
  font-size: 6rem;
  font-weight: 700;
}

.tdb-in-numbers p {
  max-width: 247px;
  font-size: 1.25rem;
  font-weight: 600;
}

.tdb-in-numbers ul::after {
  content: "";
  width: 1240px;
  height: 5px;
  background-color: var(--color-darkgreen);
  position: absolute;
  bottom: -75px;
  border-radius: 10px;
}

/* Programas Tdb */

#programas-TdB {
  padding: 136px 0;
  width: 590px;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-family: var(--font-title);
  font-weight: bold;
}

.programs {
  display: flex;
  justify-content: center;
  gap: 90px;
  position: relative;
}

.programs div {
  width: 573px;
  height: 615px;
  background-color: var(--color-orange);
  border-radius: 8px 8px 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.programs::before {
  content: "";
  position: absolute;
  top: 80px;
  left: calc(47% - 573px - 45px);
  width: 698px;
  height: 482px;
  background-image: url(../assents/svgs/Union2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.programs:after {
  content: "";
  position: absolute;
  top: -16%;
  right: calc(30% - 573px / 2 - 45px);
  width: 356.35px;
  height: 356.35px;
  background-image: url(../assents/svgs/Union.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.programs div img {
  width: 522px;
  margin-top: 25px;
  border-radius: 8px;
}

.programs h4 {
  text-align: start;
  margin: 25px 0 25px 25px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-white);
}

.programs p {
  text-align: start;
  margin: 25px 0 25px 25px;
  font-size: 1rem;
  color: var(--color-white);
  width: 522px;
}

.programs .abstract {
  width: 573px;
  position: absolute;
  bottom: 0;
  right: 0px;
}

/*Cultura Organizacional*/

.culture {
  margin-top: 163px;
  background-color: var(--color-cream);
  padding: 130px 0;
}

.culture h5 {
  margin-bottom: 93px;
  text-align: center;
  font-size: 4rem;
  font-family: var(--font-title);
}

.culture-value {
  display: flex;
  place-content: center;
  text-align: center;
  gap: 171px;
}

.culture-value div {
  width: 300px;
  height: 300px;
  background-color: var(--color-darkgreen);
  place-content: center;
  border-radius: 8px;
  transition: all 0.1 ease-in-out;
}

.culture-value div:hover {
  transform: scale(1.01);
}

.culture-value span {
  font-size: 2rem;
  color: var(--color-amber);
  font-weight: 700;
}

.culture-value p {
  color: var(--color-white);
  padding: 0 25px;
  margin-top: 20px;
}

.culture-value ul {
  list-style: none;
}

/* Sobre a Plataforma */

.more-about-plataform {
  margin: 163px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1256px;
  height: 508px;
  border-radius: 12px;
  background: var(--color-cream);
}

.more-about-plataform h6 {
  text-align: start;
  margin-left: 30px;
  font-size: 2rem;
  font-family: var(--font-title);
  color: var(--color-white);
}

.more-about-plataform div:first-child {
  background-color: var(--color-darkgreen);
  height: 508px;
  align-content: center;
  color: var(--color-white);
  text-align: start;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.more-about-plataform div:first-child p {
  margin: 20px 0 0 30px;
  width: 563px;
}

.more-about-plataform div:last-child {
  align-content: center;
}

.more-about-plataform div:last-child h6 {
  font-size: 2rem;
  font-family: var(--font-title);
  margin: 40px 0 40px 80px;
  color: var(--color-black);
}

.more-about-plataform ul {
  margin-left: 80px;
  list-style: none;
}

.more-about-plataform li {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  width: 447px;
}

.more-about-plataform span {
  font-weight: 700;
}

@media (max-width: 599px) {
  main {
    flex-direction: column;
    padding: 136px 20px 0 20px;
  }

  #Raiz-do-Bem {
    font-size: 3rem;
    text-align: center;
    width: 350px;
    margin: 0 auto;
  }

  .slogan {
    font-size: 1.5rem;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .plataform-about {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 50px;
    min-width: 350px;
  }

  main img {
    max-width: 350px;
  }

  #wrapper {
    border-radius: 50px 50px 0 0;
  }

  #sobre-turma-do-bem {
    font-size: 2.5rem;
  }

  .container-about {
    flex-direction: column;
    max-width: 350px;
    height: auto;
    gap: 0;
  }

  .container-about img {
    width: 350px;
    border-radius: 8px;
    margin: 0;
  }

  .container-about p {
    font-size: 0.75rem;
    padding: 10px 10px 10px 10px;
  }

  .txt-about p:first-child {
    margin-bottom: -10px;
  }

  .tdb-in-numbers ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    gap: 40px;
  }

  .tdb-in-numbers span {
    font-size: 2rem;
  }

  .tdb-in-numbers p {
    font-size: 0.75rem;
  }

  .tdb-in-numbers ul::after {
    width: 90%;
    height: 2px;
  }

  #programas-TdB {
    font-size: 2.5rem;
    width: 350px;
    margin-top: 0;
    padding: 0 20px 50px 20px;
  }

  .programs {
    flex-direction: column;
    gap: 53px;
  }

  .programs div {
    width: 350px;
    height: 470px;
    margin: 0 auto;
  }

  .programs div img {
    width: 317px;
  }

  .programs h4 {
    font-size: 1.5rem;
  }

  .programs p {
    font-size: 0.75rem;
    width: 310px;
    text-align: start;
    margin: 20px;
  }

  .programs .abstract {
    width: 350px;
    height: 30px;
    margin: 0 auto;
  }

  .programs::before {
    display: none;
  }

  .programs:after {
    top: -70px;
    right: 40px;
    width: 151px;
    height: 151px;
  }

  .culture h5 {
    font-size: 2.5rem;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 93px;
  }

  .culture-value {
    flex-direction: column;
    margin: 0 auto;
    place-items: center;
    gap: 50px;
  }

  .culture-value div {
    width: 250px;
    height: 250px;
  }

  .culture-value span {
    font-size: 1.2rem;
  }

  .culture-value p {
    font-size: 0.8rem;
  }

  .more-about-plataform {
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    margin: 80px auto;
  }

  .more-about-plataform div:first-child {
    height: auto;
    border-radius: 12px 12px 0 0;
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:first-child h6 {
    text-align: center;
    font-size: 2rem;
    margin-left: 0;
  }

  .more-about-plataform div:first-child p {
    width: 100%;
    max-width: 550px;
    margin: 20px auto 0 auto;
    text-align: justify;
  }

  .more-about-plataform div:last-child {
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:last-child h6 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }

  .more-about-plataform ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 550px;
  }

  .more-about-plataform li {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    gap: 15px;
    font-size: 1rem;
  }

  .more-about-plataform span {
    font-weight: 700;
    font-size: 1.1rem;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  main {
    flex-direction: column;
    padding: 100px 20px 0 20px;
  }

  #Raiz-do-Bem {
    font-size: 3.5rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .slogan {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .plataform-about {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
  }

  main img {
    max-width: 550px;
  }

  #wrapper {
    border-radius: 50px 50px 0 0;
  }

  #sobre-turma-do-bem {
    font-size: 2.5rem;
  }

  .container-about {
    flex-direction: column;
    width: 500px;
    max-height: 950px;
    gap: 0;
  }

  .container-about img {
    width: 500px;
    border-radius: 8px;
    margin: 0;
  }

  .container-about p {
    font-size: 0.9rem;
    padding: 10px 10px;
  }

  .txt-about p:first-child {
    margin-bottom: -10px;
  }

  .tdb-in-numbers ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    gap: 40px;
  }

  .tdb-in-numbers span {
    font-size: 3rem;
  }

  .tdb-in-numbers p {
    font-size: 0.9rem;
  }

  .tdb-in-numbers ul::after {
    width: 90%;
    height: 3px;
  }

  #programas-TdB {
    font-size: 2.5rem;
    width: 90%;
    margin-top: 0;
    padding: 0 20px 50px 20px;
  }

  .programs {
    flex-direction: column;
    gap: 53px;
  }

  .programs div {
    width: 450px;
    height: 520px;
    margin: 0 auto;
  }

  .programs div img {
    width: 410px;
  }

  .programs h4 {
    font-size: 1.5rem;
  }

  .programs p {
    font-size: 0.9rem;
    width: 90%;
    text-align: start;
    margin: 20px;
  }

  .programs .abstract {
    width: 450px;
    height: 40px;
  }

  .programs::before {
    display: none;
  }

  .programs:after {
    top: -60px;
    right: 40px;
    width: 180px;
    height: 180px;
  }

  .culture h5 {
    font-size: 2.5rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 93px;
  }

  .culture-value {
    flex-direction: column;
    margin: 0 auto;
    place-items: center;
    gap: 50px;
  }

  .culture-value div {
    width: 280px;
    height: 280px;
  }

  .culture-value span {
    font-size: 1.5rem;
  }

  .culture-value p {
    font-size: 0.9rem;
  }

  .more-about-plataform {
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    margin: 80px auto;
  }

  .more-about-plataform div:first-child {
    height: auto;
    border-radius: 12px 12px 0 0;
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:first-child h6 {
    text-align: center;
    font-size: 2rem;
    margin-left: 0;
  }

  .more-about-plataform div:first-child p {
    width: 100%;
    max-width: 550px;
    margin: 20px auto 0 auto;
    text-align: justify;
  }

  .more-about-plataform div:last-child {
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:last-child h6 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }

  .more-about-plataform ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 550px;
  }

  .more-about-plataform li {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    gap: 15px;
    font-size: 1rem;
  }

  .more-about-plataform span {
    font-weight: 700;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main {
    flex-direction: column;
    padding: 100px 20px 0 20px;
  }

  #Raiz-do-Bem {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .slogan {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .plataform-about {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
  }

  main img {
    max-width: 650px;
  }

  #wrapper {
    border-radius: 50px 50px 0 0;
  }

  #sobre-turma-do-bem {
    font-size: 2.5rem;
  }

  .container-about {
    flex-direction: column;
    width: 550px;
    max-height: 950px;
    gap: 0;
  }

  .container-about img {
    width: 550px;
    border-radius: 8px;
    margin: 0;
  }

  .container-about p {
    font-size: 1rem;
    padding: 10px 10px;
  }

  .txt-about p:first-child {
    margin-bottom: -10px;
  }

  .tdb-in-numbers ul {
    padding: 0 20px;
    gap: 30px;
  }

  .tdb-in-numbers span {
    font-size: 3.5rem;
  }

  .tdb-in-numbers p {
    font-size: 1rem;
  }

  .tdb-in-numbers ul::after {
    width: 90%;
    height: 3px;
  }

  #programas-TdB {
    font-size: 3rem;
    width: 90%;
    margin-top: 0;
    padding: 0 20px 80px 20px;
  }

  .programs {
    flex-direction: column;
    gap: 53px;
  }

  .programs div {
    width: 450px;
    height: 550px;
    margin: 0 auto;
  }

  .programs div img {
    width: 410px;
  }

  .programs h4 {
    font-size: 1.5rem;
  }

  .programs p {
    font-size: 1rem;
    width: 90%;
    text-align: start;
    margin: 20px;
  }

  .programs .abstract {
    width: 450px;
    height: 40px;
  }

  .programs::before {
    display: none;
  }

  .programs:after {
    top: -60px;
    right: 40px;
    width: 180px;
    height: 180px;
  }

  .culture h5 {
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 93px;
  }

  .culture-value {
    margin: 0 auto;
    place-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .culture-value div {
    width: 250px;
    height: 250px;
  }

  .culture-value span {
    font-size: 1.5rem;
  }

  .culture-value p {
    font-size: 0.9rem;
  }

  .more-about-plataform {
    grid-template-columns: 1fr;
    width: 90%;
    height: auto;
    margin: 80px auto;
  }

  .more-about-plataform div:first-child {
    height: auto;
    border-radius: 12px 12px 0 0;
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:first-child h6 {
    text-align: center;
    font-size: 2.5rem;
    margin-left: 0;
  }

  .more-about-plataform div:first-child p {
    width: 100%;
    max-width: 650px;
    margin: 20px auto 0 auto;
    text-align: justify;
  }

  .more-about-plataform div:last-child {
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:last-child h6 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }

  .more-about-plataform ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 650px;
  }

  .more-about-plataform li {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    gap: 15px;
    font-size: 1rem;
  }

  .more-about-plataform span {
    font-weight: 700;
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  main {
    padding: 100px 60px 0 60px;
  }

  #Raiz-do-Bem {
    margin-left: 60px;
  }

  .slogan {
    margin-left: 60px;
    margin-bottom: 20px;
  }

  .plataform-about {
    margin: 0 auto;
    margin-left: 60px;
    margin-bottom: 50px;
    width: 90%;
  }

  main img {
    max-width: 520px;
  }

  #wrapper {
    border-radius: 50px 50px 0 0;
  }

  #sobre-turma-do-bem {
    font-size: 3.5rem;
  }

  .container-about {
    width: 950px;
    max-height: 390px;
    gap: 0;
    margin: 0 auto;
  }

  .container-about img {
    width: 550px;
    height: 390px;
    border-radius: 8px 0 0 8px;
    margin-top: 8px;
  }

  .container-about p {
    font-size: 1rem;
    padding: 10px 10px;
  }

  .txt-about p:first-child {
    margin-bottom: -10px;
  }

  .tdb-in-numbers ul {
    padding: 0 20px;
    gap: 30px;
    margin: 40px 20px;
  }

  .tdb-in-numbers span {
    font-size: 4rem;
  }

  .tdb-in-numbers p {
    font-size: 1.125rem;
  }

  .tdb-in-numbers ul::after {
    width: 90%;
    height: 3px;
  }

  #programas-TdB {
    font-size: 3.5rem;
    width: 90%;
    margin-top: 0;
    padding: 0 20px 80px 20px;
  }

  .programs {
    gap: 53px;
    margin: 0 20px;
  }

  .programs div {
    width: 450px;
    height: 550px;
    margin: 0 auto;
  }

  .programs div img {
    width: 410px;
  }

  .programs h4 {
    font-size: 1.5rem;
  }

  .programs p {
    font-size: 1rem;
    width: 90%;
    text-align: start;
    margin: 20px;
  }

  .programs .abstract {
    width: 450px;
    height: 40px;
  }

  .programs::before {
    display: none;
  }

  .programs:after {
    top: -60px;
    right: -20px;
    width: 180px;
    height: 180px;
  }

  .culture h5 {
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 93px;
  }

  .culture-value {
    margin: 0 auto;
    place-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .culture-value div {
    width: 250px;
    height: 250px;
  }

  .culture-value span {
    font-size: 1.5rem;
  }

  .culture-value p {
    font-size: 0.9rem;
  }

  .more-about-plataform {
    width: 90%;
    height: auto;
    margin: 80px auto;
  }

  .more-about-plataform div:first-child {
    height: auto;
    border-radius: 8px;
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:first-child h6 {
    font-size: 2rem;
    margin-left: 0;
  }

  .more-about-plataform div:first-child p {
    width: 100%;
    max-width: 650px;
    margin: 20px auto 0 auto;
    text-align: justify;
  }

  .more-about-plataform div:last-child {
    padding: 40px 30px;
    text-align: center;
  }

  .more-about-plataform div:last-child h6 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
  }

  .more-about-plataform ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 650px;
  }

  .more-about-plataform li {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    gap: 15px;
    font-size: 1rem;
  }

  .more-about-plataform span {
    font-weight: 700;
    font-size: 1.1rem;
  }
}
