.top-section-contact {
  height: 605px;
  background-color: var(--color-orange);
  display: flex;
  gap: 80px;
  place-content: center;
  place-items: center;
  position: relative;
}

.top-section-contact h1 {
  font-size: 4rem;
  font-family: var(--font-title);
  color: var(--color-white);
  width: 580px;
  text-align: center;
  margin-bottom: 100px;
}

.top-section-contact img {
  max-width: 635px;
  margin-bottom: 110px;
}

.top-section-contact::after {
  content: "";
  background-image: url(../assents/svgs/onda.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 155px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  z-index: 1;
  transform: scaleX(-1);
}

/* Forms*/
.formulario {
  background: var(--color-darkgreen);
  width: 860px;
  padding: 40px;
  border-radius: 8px;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form button {
  grid-column: 1 / -1;
  margin: 20px auto 0 auto;
}

.input-solo {
  grid-column: 1 / -1;
}

.input-duo {
  width: 100%;
}

label {
  color: var(--color-white);
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

button {
  font-size: 1.125rem;
  color: var(--color-white);
  border: none;
  background-color: var(--color-orange);
  border-radius: 8px;
  width: 300px;
  height: 40px;
  margin: 40px 20px;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.03);
}

.btn-forms button {
  width: 410px;
}

.btns {
  display: flex;
  place-content: center;
}

.forms-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.forms-contact h2 {
  font-size: 3rem;
  font-family: var(--font-title);
  width: 800px;
  text-align: center;
  margin: 130px 0;
}

.form-step {
  display: none;
  transition: all 0.4s ease;
}

.form-step.active {
  display: grid;
  animation: fadeIn 0.5s ease;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* maps + canais de contato */
.info-contact {
  margin: 136px auto;
  width: 900px;
}

.info-contact h3 {
  font-size: 3rem;
  font-family: var(--font-title);
  margin-bottom: 50px;
}

.info-contact section {
  display: flex;
  gap: 60px;
  place-items: center;
}

.info-canal {
  display: flex;
  flex-direction: column;
}

.info-canal span {
  font-weight: 700;
}

.info-canal p {
  width: 350px;
}

@media (max-width: 599px) {
  .top-section-contact {
    height: 300px;
  }

  .top-section-contact h1 {
    font-size: 2rem;
    width: 350px;
    margin: 0 auto;
  }

  .top-section-contact img {
    display: none;
  }

  .top-section-contact::after {
    content: "";
    width: 100%;
    height: 40px;
  }

  .forms-contact {
    margin: 0 20px;
  }

  .forms-contact h2 {
    font-size: 2rem;
    width: 350px;
    margin: 56px 0;
  }

  .btn-forms {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .btn-forms button {
    width: 300px;
    font-size: 1rem;
    font-weight: 600;
    margin: 20px;
  }

  .formulario {
    width: 320px;
    padding: 20px;
  }

  .form-step.active {
    display: flex;
    flex-direction: column;
  }

  .input-solo,
  .input-duo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .formulario label {
    font-size: 0.9rem;
  }

  .formulario .btns button,
  .submit-form {
    width: 250px;
    font-size: 1rem;
    font-weight: 600;
  }

  .info-contact {
    margin: 56px 0px;
    width: 100%;
  }

  .info-contact h3 {
    font-size: 2rem;
    margin: 10px auto;
    text-align: center;
  }

  .info-contact iframe {
    width: 320px;
    height: 300px;
  }

  .info-contact section {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .top-section-contact {
    height: 400px;
    flex-direction: column;
    gap: 40px;
  }

  .top-section-contact h1 {
    font-size: 2.5rem;
    width: 450px;
    margin-bottom: 40px;
  }

  .top-section-contact img {
    display: none;
  }

  .top-section-contact::after {
    bottom: -20px;
    height: 80px;
  }

  .forms-contact h2 {
    font-size: 2.5rem;
    width: 450px;
    margin: 80px 0;
  }

  .formulario {
    width: 450px;
    padding: 25px;
  }

  .form-step.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .btn-forms button {
    width: 320px;
    margin: 20px;
    margin-left: 25%;
  }

  .info-contact {
    width: 450px;
    margin: 80px auto;
  }

  .info-contact h3 {
    font-size: 2.2rem;
    text-align: center;
  }

  .info-contact iframe {
    width: 100%;
    height: 350px;
  }

  .info-contact section {
    flex-direction: column;
    gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-section-contact {
    height: 500px;
    flex-direction: row;
    gap: 60px;
  }

  .top-section-contact h1 {
    font-size: 2.5rem;
    width: 600px;
    margin-bottom: 60px;
    z-index: 1;
    margin-left: 40px;
  }

  .top-section-contact img {
    max-width: 400px;
    margin-bottom: -50px;
    z-index: 0;
  }

  .top-section-contact::after {
    height: 100px;
  }

  .forms-contact h2 {
    font-size: 2.8rem;
    width: 600px;
    margin: 100px 0;
  }

  .formulario {
    width: 600px;
    padding: 30px;
  }

  .form-step.active {
    grid-template-columns: 1fr;
  }

  .btn-forms button {
    width: 350px;
    margin-left: 25%;
  }

  .info-contact {
    width: 650px;
    margin: 100px auto;
  }

  .info-contact h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  .info-contact iframe {
    width: 100%;
    height: 400px;
  }

  .info-contact section {
    flex-direction: column;
    gap: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1299px) {
  .top-section-contact {
    height: 550px;
    gap: 70px;
  }

  .top-section-contact h1 {
    font-size: 3.5rem;
    width: 520px;
    margin-bottom: 80px;
  }

  .top-section-contact img {
    max-width: 500px;
    margin-bottom: 80px;
  }

  .forms-contact h2 {
    font-size: 3rem;
    width: 700px;
    margin: 120px 0;
  }

  .formulario {
    width: 720px;
    padding: 35px;
  }

  .form-step.active {
    grid-template-columns: 1fr 1fr;
  }

  .btn-forms button {
    width: 340px;
  }

  .info-contact {
    width: 800px;
    margin: 120px auto;
  }

  .info-contact h3 {
    font-size: 2.8rem;
  }

  .info-contact iframe {
    width: 100%;
    height: 420px;
  }

  .info-contact section {
    gap: 50px;
    flex-direction: row;
    justify-content: space-between;
  }
}
