@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Fontes */
  --font-base: "Poppins", sans-serif;
  --font-title: "Fredoka", sans-serif;

  /*Cores*/
  --color-black: #333;
  --color-white: #fff;
  --color-gray: #666;

  --color-darkgreen: #006a4e;
  --color-lightgreen: #98ca3c;

  --color-gold: #e5bf6d; /* dourado */
  --color-orange: #f78f24; /* laranja */
  --color-cream: #fae9c6; /* bege */
  --color-amber: #fbae17; /* amarelo âmbar */
}

/*Reset básico*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}
