@media (min-width: 1300px) {
  /* Cabeçalho */
  header {
    background-color: var(--color-cream);
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5vw;
    gap: 1, 25rem;
  }

  #logo {
    display: flex;
    align-items: center;
    position: relative;
  }

  #logo img {
    width: 120px;
    height: 50px;
  }

  #logo::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 50px;
    margin: 0 20px;
    background-color: #333;
  }

  #fiap {
    margin-top: 10px;
    width: 110px;
    height: auto;
  }

  #nav-bar ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }

  #nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
  }

  #nav-bar {
    margin: 0 auto;
  }

  .nav-btn a {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-orange);
    border-radius: 8px;
    padding: 12px 30px;
    font-weight: 600;
    transition: all 0.3s;
  }

  .nav-btn a:hover {
    background-color: #e07c1c;
  }

  .nav-btn a:first-child {
    margin-right: 15px;
  }

  footer {
    background-color: var(--color-cream);
    padding: 50px 100px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
  }

  .title-footer {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: start;
    display: block;
    margin-bottom: 15px;
  }

  .useful-link ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
  }

  .navegation-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  .navegation-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navegation-footer ul li {
    padding: 5px 0;
    margin: 0;
  }

  .navegation-footer p {
    padding: 5px 0;
  }

  .address {
    width: 400px;
  }

  footer a {
    text-decoration: none;
    color: inherit;
  }

  footer a[href^="mailto:"] {
    color: var(--color-black);
    text-decoration: underline;
  }

  #logo-footer {
    padding-top: 50px;
    display: block;
    width: 1030px;
    margin: 0 auto;
  }

  .end p{
    margin-top: 80px;
    text-align: center;
  }
}
