.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url(../assents/img/Component.png) no-repeat center top;
  background-size: 100% auto;
}

/*--Parte voltada para doações--*/

.main-home {
  margin: 0 auto;
  max-width: 1030px;
}

#titulo-principal {
  text-align: center;
  font-size: 3rem;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 136px;
  font-family: var(--font-title);
}

#titulo-principal span {
  color: var(--color-darkgreen);
}

.container-main {
  margin-top: 136px;
  display: grid;
  max-width: 1030px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  align-items: center;
  background-color: rgba(195, 195, 195, 0.7);
  border-radius: 8px;
}

.information {
  background-color: var(--color-darkgreen);
  height: 400px;
  width: 100%;
  display: grid;
  gap: 10px;
  place-items: center;
  align-content: center;
  border-radius: 8px;
}

.information p {
  color: var(--color-white);
  text-align: center;
  width: 370px;
  padding: 10px 0;
  font-weight: 700;
}

.information p span {
  font-size: 1.25rem;
  font-weight: 700;
}

.information a {
  margin-top: 20px;
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;
  padding: 10px 80px;
  background: var(--color-orange);
  border-radius: 8px;
  transition: all 0.3s;
}

.information a:hover {
  background: #e07c1c;
}

.donate nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
}

.donate nav ul button {
  background: transparent;
  border: none;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-black);
}

.donate ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5px;
}

.donate ul button {
  list-style: none;
  border: none;
  background: transparent;
  font-size: 1.125rem;
  background-color: var(--color-gold);
  padding: 15px 45px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-doar {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 80px;
  font-size: 1.25rem;
  color: var(--color-white);
  background: var(--color-orange);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.donate button.selected-donate {
  background-color: var(--color-orange);
  opacity: 0.85;
  color: var(--color-white);
  font-weight: 600;
}


/*--Tdb-Apresentação-Rápida--*/

.content {
  margin-top: 136px;
  padding: 0 0 86px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cream);
  flex-direction: column;
}

.content h2 {
  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
  width: 860px;
  font-family: var(--font-title);
  font-size: 3rem;
}

.container {
  height: 666px;
  width: 1030px;
  background-color: var(--color-orange);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
  margin: 0 auto;
  padding: 20px;
}

.card-brasil {
  background: rgba(91, 91, 91, 0.7);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 376px;
}

.card-brasil .img-brasil {
  margin-top: 20px;
  width: 100%;
  border-radius: 4px;
  display: block;
}

.card-brasil #brasil-title {
  margin-top: 18px;
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: 600;
  align-self: flex-start;
}

.card-brasil .pattern {
  width: 100%;
  margin-top: auto;
}

.paises {
  margin-top: 20px;
  padding: 12px 24px;
  background: #0e5a36;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
}

.programs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  width: 100%;
}

.card-program {
  background: rgba(91, 91, 91, 0.7);
  border-radius: 8px;
  height: 247px;
  width: 383px;
}

.image {
  width: 345px;
  border-radius: 4px;
  margin: 10px 20px 0 20px;
}

.card-program p {
  padding: 8px 20px;
  color: var(--color-white);
  font-size: 16px;
}

.card-program .pattern {
  margin-top: 10px;
  width: 100%;
}

/*TdB em números*/

.card-stats {
  margin-top: 86px;
  display: flex;
  gap: 58px;
  justify-content: center;
  margin-bottom: 136px;
}

.card-stats div {
  width: 300px;
  height: 200px;
  place-content: center;
  text-align: center;
  background-color: var(--color-darkgreen);
  border-radius: 8px;
}

.card-stats p {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-white);
}

.btn-voluntary {
  width: 430px;
  height: 50px;
  background-color: var(--color-orange);
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-white);
  display: block;
  text-align: center;
  line-height: 48px;
}

/* Video */

#documentary {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

/* Secção de Comentários */
.section-review {
  padding: 136px 0;
  max-width: 1030px;
  margin: 0 auto;
}

#review {
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.section-review section {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.section-review section button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 85px;
  height: 85px;
}

.section-review section button:last-child {
  transform: scaleX(-1);
}

.card-review {
  background: var(--color-cream);
  width: 610px;
  height: 300px;
  display: flex;
  place-items: center;
  gap: 40px;
  padding: 40px;
  border-radius: 8px;
}

.card-review img {
  border: 4px solid var(--color-gold);
  border-radius: 50%;
}
.card-review blockquote {
  text-align: center;
}

.card-review figcaption {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#cta {
  margin: 0 auto;
  width: 1030px;
  height: 322px;
  background-color: var(--color-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 137px;
}

#cta h4 {
  margin-left: 40px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#cta a {
  margin: 40px 0 0 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 118px;
  background-color: var(--color-darkgreen);
  border-radius: 8px;
  color: white;
  font-size: 1.125rem;
}

.cta-img {
  background-color: var(--color-white);
  margin-right: 40px;
  height: 90%;
  width: 30%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-img img {
  width: 250px;
  place-items: center;
}

@media (max-width: 599px) {
  .hero {
    height: 250px;
  }

  .main-home {
    width: 100%;
  }
  #titulo-principal {
    font-size: 1.8rem;
    width: 260px;
    margin-top: 58px;
  }

  .container-main {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 58px;
  }

  .information {
    height: 200px;
    width: 100%;
    gap: 5px;
  }

  .information p {
    width: 290px;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .information p span {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
  }

  .information a {
    margin-top: 0px;
    padding: 8px 30px;
    margin-bottom: 10px;
  }

  .donate nav ul button {
    margin-top: 10px;
    font-size: 1rem;
  }

  .donate ul {
    gap: 4px;
  }

  .donate ul button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .btn-doar {
    padding: 8px 30px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .content h2 {
    font-size: 2rem;
    max-width: 320px;
    margin: -50px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .card-brasil {
    max-width: 320px;
  }

  .card-brasil p {
    margin: 0 20px;
  }

  .card-brasil .img-brasil {
    width: 300px;
    margin: 10px;
  }

  .programs {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-program {
    margin: 0 auto;
    max-width: 320px;
  }

  .card-program figure img {
    max-width: 300px;
    margin: 10px 10px 10px 10px;
  }

  .card-program .pattern {
    margin-bottom: -30px;
  }

  .card-stats {
    gap: 20px;
  }

  .card-stats div {
    width: 100px;
    height: 120px;
    padding: 10px;
  }

  .card-stats img {
    height: 45px;
  }

  .card-stats p {
    font-size: 0.625rem;
  }

  .btn-voluntary {
    margin-top: -58px;
    width: 275px;
    height: 45px;
  }

  #documentary iframe {
    width: 100%;
    height: 100%;
  }

  #review {
    font-size: 2.5rem;
    margin: -60px auto 50px auto;
  }

  .btn-next {
    display: none;
  }

  .card-review {
    width: 350px;
    height: 250px;
    padding: 20px;
  }

  .card-review img {
    width: 100px;
  }

  .card-review blockquote {
    font-size: 0.7rem;
  }

  .card-review figcaption {
    margin-top: 5px;
    font-size: 0.8rem;
  }

  #cta {
    width: 90%;
    gap: 30px;
    display: flex;
    place-items: center;
    place-content: center;
  }

  #cta h4 {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  #cta a {
    font-size: 0.9rem;
    padding: 10px 35px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 45px;
  }

  #cta .cta-img {
    display: none;
  }
}

/* -------- Small (600–767px) -------- */
@media (min-width: 600px) and (max-width: 767px) {
  .hero {
    height: 350px;
  }

  .main-home {
    width: 100%;
  }

  #titulo-principal {
    font-size: 1.8rem;
    width: 250px;
    margin-top: 0;
  }

  .container-main {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 58px;
  }

  .btn-doar {
    margin-bottom: 20px;
  }

  .donate nav ul button {
    margin-top: 20px;
  }

  .information p {
    font-size: 1.125rem;
  }

  .information span {
    font-size: 1rem;
  }

  .information a {
    padding: 10px 120px;
  }

  .donate nav ul button {
    margin-top: 10px;
    font-size: 1rem;
  }

  .donate ul {
    gap: 4px;
  }

  .donate ul button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .btn-doar {
    padding: 8px 120px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .content h2 {
    font-size: 2rem;
    max-width: 320px;
    margin: -50px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .card-brasil {
    max-width: 580px;
  }

  .card-brasil p {
    margin: 0 20px;
  }

  .card-brasil .img-brasil {
    width: 400px;
    margin: 10px;
  }

  .programs {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-program {
    margin: 0 auto;
    max-width: 580px;
  }

  .card-program figure img {
    max-width: 400px;
    margin: 10px 10px 10px 10px;
  }

  .pattern {
    display: none;
  }

  .card-stats {
    gap: 50px;
  }

  .card-stats div {
    width: 140px;
    height: 140px;
    padding: 10px;
  }

  .card-stats img {
    height: 60px;
  }

  .card-stats p {
    font-size: 0.8rem;
  }

  .btn-voluntary {
    margin-top: -58px;
    width: 275px;
    height: 45px;
  }

  #documentary iframe {
    width: 100%;
  }

  #review {
    font-size: 2.5rem;
  }

  .btn-next {
    display: none;
  }

  .card-review {
    width: 500px;
    height: 300px;
    padding: 20px;
  }

  .card-review img {
    width: 140px;
  }

  .card-review blockquote {
    font-size: 0.8rem;
  }

  .card-review figcaption {
    margin-top: 5px;
    font-size: 0.9rem;
  }

  #cta {
    width: 90%;
  }

  #cta h4 {
    font-size: 1.5rem;
  }

  #cta a {
    font-size: 0.9rem;
    padding: 10px 35px;
  }

  #cta .cta-img {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    height: 350px;
  }

  .main-home {
    width: 100%;
  }

  #titulo-principal {
    font-size: 2.5rem;
    width: 350px;
    margin-top: 100px;
  }

  .container-main {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 58px;
  }

  .btn-doar {
    padding: 10px 120px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .content h2 {
    font-size: 2.5rem;
    max-width: 600px;
    margin: -50px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .card-brasil {
    max-width: 580px;
  }

  .card-brasil p {
    margin: 0 20px;
  }

  .card-brasil .img-brasil {
    width: 400px;
    margin: 10px;
  }

  .programs {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-program {
    margin: 0 auto;
    max-width: 580px;
  }

  .card-program figure img {
    max-width: 400px;
    margin: 10px 10px 10px 10px;
  }

  .pattern {
    display: none;
  }

  .card-stats {
    gap: 50px;
  }

  .card-stats div {
    width: 150px;
    height: 150px;
    padding: 10px;
  }

  .card-stats img {
    height: 80px;
  }

  .card-stats p {
    font-size: 0.8rem;
  }

  .btn-voluntary {
    margin-top: -58px;
    width: 300px;
    height: 45px;
  }

  #documentary iframe {
    width: 100%;
  }

  #review {
    font-size: 2.5rem;
  }

  .btn-next {
    display: none;
  }

  .card-review {
    width: 600px;
    height: 300px;
    padding: 20px;
  }

  .card-review img {
    width: 170px;
  }

  .card-review blockquote {
    font-size: 0.9rem;
  }

  .card-review figcaption {
    margin-top: 5px;
    font-size: 1rem;
  }

  #cta {
    width: 90%;
  }

  #cta h4 {
    font-size: 2rem;
  }

  #cta a {
    font-size: 1.125rem;
    padding: 10px 35px;
  }

  #cta .cta-img {
    width: 200px;
    height: 200px;
  }
}

/* -------- Large (992–1299px) -------- */
@media (min-width: 992px) and (max-width: 1299px) {
  .hero {
    height: 500px;
  }

  .main-home {
    width: 100%;
  }

  #titulo-principal {
    top: 0;
  }

  .container-main {
    max-width: 932px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .container {
    width: 90%;
  }

  .card-stats div {
    width: 200px;
    height: 200px;
    padding: 10px;
  }

  .card-stats img {
    height: 90px;
  }

  .card-stats p {
    font-size: 1.128rem;
  }

  .btn-voluntary {
    margin-top: -58px;
    width: 500px;
    height: 45px;
  }

  #documentary iframe {
    width: 100%;
  }

  #review {
    font-size: 2.5rem;
  }

  .card-review {
    width: 600px;
    height: 300px;
    padding: 20px;
  }

  .card-review img {
    width: 170px;
  }

  .card-review blockquote {
    font-size: 0.9rem;
  }

  .card-review figcaption {
    margin-top: 5px;
    font-size: 1rem;
  }

  #cta {
    width: 90%;
  }

  #cta h4 {
    font-size: 2rem;
  }

  #cta a {
    font-size: 1.125rem;
    padding: 10px 35px;
  }

  #cta .cta-img {
    width: 300px;
    height: 300px;
  }
}
