@media (min-width: 1300px) {
  #wrapper {
    margin: 0 100px;
  }

  header {
    background-color: var(--color-cream);
    height: 80px;
    border-radius: 8px;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 30px;
  }

  header div {
    display: flex;
    margin: 0 auto;
  }

  #logo {
    display: flex;
    align-items: center;
    position: relative;
  }

  #logo img {
    width: 120px;
    height: 50px;
  }

  #logo::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 50px;
    margin: 0 20px;
    background-color: #333;
  }

  #fiap {
    margin-top: 10px;
    width: 110px;
    height: auto;
  }

  .btn-back {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-white);
    text-decoration: none;
    width: 140px;
    height: 45px;
    text-align: center;
    place-content: center;
    background-color: var(--color-orange);
    border-radius: 8px;
  }

  main {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1800px;
    display: flex;
    place-items: center;
    justify-content: space-around;
    gap: 20px;
    background: #006a4e;
    background: linear-gradient(
      180deg,
      rgba(0, 106, 78, 1) 0%,
      rgba(5, 152, 113, 1) 50%,
      rgba(3, 143, 106, 1) 100%
    );
    border-radius: 12px;
  }

  main div {
    max-width: 655px;
    padding: 0 20px;
  }

  h1 {
    font-family: var(--font-title);
    color: var(--color-white);
    font-size: 3rem;
    margin-bottom: 20px;
  }

  main div p {
    font-size: 1.125rem;
    color: var(--color-white);
    width: 600px;
  }

  main div a {
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--color-white);
    display: inline-block;
    margin-top: 80px;
    text-align: center;
    width: 290px;
    height: 50px;
    background-color: var(--color-orange);
    border-radius: 8px;
    align-content: center;
    transition: all 0.3s;
  }

  main div a:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  main img {
    max-height: 710px;
  }

  #form {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 100px 0;
  }

  form h2 {
    margin-top: 100px;
  }

  .input-duo {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  .input-duo label {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .input-duo input,
  select {
    width: 500px;
    height: 40px;
    border-radius: 8px;
    background-color: #d9d9d9;
    border: none;
    padding: 0 14px;
  }

  textarea {
    height: 120px;
    padding: 14px;
    border-radius: 8px;
  }

  .input-duo button, .input-duo a {
    text-decoration: none;
    text-align: center;
    place-content: center;
    background-color: var(--color-orange);
    height: 40px;
    border: none;
    border-radius: 8px;
    color: var(--color-white);
    font-size: 1.125rem;
    font-weight: 700;
    transition: all 0.3s ease-in;
  }

  .input-duo button:hover, a:hover {
    transform: scale(1.01);
  }
}
