@media (min-width: 1300px) {
    main {
        padding: 136px 100px;
        display: flex;
        gap: 50px;
        align-items: center;
        background-color: var(--color-darkgreen);
    }

    #Raiz-do-Bem {
        font-size: 4rem;
        font-family: var(--font-title);
        color: var(--color-white);
        font-weight: 700;
    }

    .slogan {
        color: var(--color-amber);
        font-family: var(--font-title);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .plataform-about {
        color: var(--color-white);
        font-size: 1.2rem;
    }

    /*Sobre a Raiz do Bem*/

    .container-about {
        display: flex;
        border-radius: 8px;
        width: 1240px;
        margin: 0 auto;
        align-items: center;
    }
}